<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <%= htmlWebpackPlugin.options.commonCss %>
    <!--[if lt IE 9]>
    <%= htmlWebpackPlugin.options.hackJs %>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div ms-controller="root">
    <div class="wrapper">
        <xmp is="ms-page-head"></xmp>
        <xmp is="ms-page-sideBar" ms-widget="{path:@currPath}"></xmp>
        <div ms-html="@mainPage" class="content-wrapper"></div>
        <xmp is="ms-page-footer"></xmp>
    </div>
</div>

<%= htmlWebpackPlugin.options.commonJs %>
</body>
</html>
